// ObjectWindows - (C) Copyright 1992 by Borland International
//
// owlpen.rc

#include "owlpen.h"

TEXTENTRY_DIALOG DIALOG 18, 18, 227, 98
CAPTION "Text Entry Dialog"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
 PUSHBUTTON "Show", ID_SHOW, 172, 74, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "Enter Text:", -1, 11, 11, 58, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL " ",  ID_EDIT, "EDIT", WS_BORDER | WS_TABSTOP, 12, 31, 175, 12
 LTEXT "", ID_TEXT, 12, 51, 175, 12, WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP
END

PENTEXTENTRY_DIALOG DIALOG 18, 18, 227, 98
CAPTION "Pen Text Entry Dialog"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
BEGIN
 PUSHBUTTON "Show", ID_SHOW, 172, 74, 39, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
 LTEXT "Enter Text:", -1, 11, 11, 58, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL " ",  ID_EDIT, "BEDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 31, 175, 16
 LTEXT "", ID_TEXT, 12, 51, 175, 12, WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP
END
