// ObjectWindows - (C) Copyright 1992 by Borland International
//
// dragdrop.rc

#include <windows.h>

DRAGMENU MENU
BEGIN
	POPUP "Help"
	BEGIN
		MENUITEM "How To",		101
		MENUITEM "View Files",	102
		MENUITEM "Clear Files",	103
		MENUITEM SEPARATOR
		MENUITEM "About" ,		104
	END
END
